body {
    font-family: 'Roboto',
        sans-serif;
    background-color: #FFF;
    color: #2E2F42;
    font-size: 16px;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: #4D5AE5;
}
