:root {
    --color-brand: #2E2F42;
    --color-primery: #434455;
    --color-primery-light: #FFF;
    --color-logo-button: #4D5AE5;
    --bcg-color-light: #F4F4FD;
}
body {
    font-family: 'Roboto',
        sans-serif;
    background-color: var(--color-primery-light);
    color: var(--color-brand);
    font-size: 16px;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/* Header */
.logo {
    color: var(--color-brand);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: var(--color-logo-button);
}
.nav-link {
    color: var(--color-brand);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-info {
    color: var(--color-primery);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* hero section */
.hero-section {
    background-color: var(--color-brand);
    text-align: center
}
.hero-section-title {
color: var(--color-primery-light);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.button {
    background-color: var(--color-logo-button);
    color: var(--color-primery-light);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* Strategy section */

.strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.strategy-text {
    color: var(--color-primery);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Our team section */
.section-our-team {
background-color: var(--bcg-color-light);  
}
.our-team-title {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11; 
   letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center
}
.our-team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center
}
.our-team-position {
    color: var(--color-primery);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* Our portfolio section */
.our-portfolio-section
{
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center
}
.our-portfolio-section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-portfolio-section-position {
    color: var(--color-primery);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Footer */
.footer {
    background-color:var(--color-brand);
}
.footer-text {
    color: var(--bcg-color-light);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-footer {
    color: var(--color-logo-button);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-web-footer {
   color: var(--color-primery-light); 
}